<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ recruiterName }}</title>
</head>

<body>
  <table>

    <tr>
      <td>
        <p>Estimados, <b>{{ recruiterName }}</b>.</p>

        <p>
          Soy <b>{{ name }}</b>, estoy buscando nuevas oportunidades de desarrollo
          y me gustaría unirme a su <br> gran familia empresarial.
        </p>

        <p>
          Me considero una persona comprometida con el trabajo, creativa y
          entusiasta ante los nuevos retos, por ello <br> me gustaría su consideración
          para ser parte de su banco de selección.
        </p>

        {{#if position}}
        <p>Tengo interés en las posiciones: {{ position }}, con voluntad para desempeñar otros cargos.</p>
        {{/if}}

        {{#if message}}
          <p>{{ message }}</p>
        {{/if}}

        <p>Agradezco de antemano su atención y me despido enviándoles un cordial saludo.</p>
      </td>
    </tr>

    <tr>
      <td>
        <b>Atte.</b> <i>{{ name }}</i>.
      </td>
    </tr>
  </table>
</body>

</html>